@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* navbar section styles */

.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);



}

.navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-right: 250px;
}

.nav-title {
    font-size: 2rem;
}

.text-pink {
    color: #FF42A5;
}

.navbar img {
    height: 27%;

}

.menus {
    display: flex;
    align-items: center;
}

.menus li {
    list-style: none;

}

.menus li>a {
    text-decoration: none;
    color: #3C354F;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;

}

.menu-item {
    background-color: #E7E6E9;
    padding: 10px 20px;

}

.fa-brands {
    margin-left: 10px;

}

.fa-youtube {
    color: red;
    font-size: 20px;
}

.fa-tiktok {
    font-size: 16px;
}


/* banner section styles */

.banner {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 600px 700px;
}

.banner-container {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.banner-photo img {

    width: 540px;
}


.banner-info h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.banner-info h1 {
    font-size: 4rem;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0px;
    padding: 0px;
}

.banner-info p {
    font-size: 0.85rem;
    font-weight: 500;
}

.fa-regular,
.fa-download {
    font-size: 0.8rem;
    color: #FF42A5;
    margin-right: 8px;
}

.fa-user-group {
    font-size: 0.8rem;
    color: #706f70;
    margin-right: 8px;
}


.btn {
    padding: 12px 24px;
    border-radius: 23px;
    text-transform: uppercase;
    color: #FFF;
    border: none;
    margin: 20px 0px;
}

.btn.pink {
    background-color: #F948B2;
}

.btn.skyblue {
    background-color: #4EC5F7;
}

/* Online Games section styles */

.online-info {
    text-align: center;
}

.section-title {
    font-size: 2.2rem;
    padding-top: 70px;
    margin: 0px;
}

.description {
    padding: 0px;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.text-gradient {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.online-card {
    width: 75%;
    display: flex;
    margin: 30px auto;
}

.card img {
    width: 90%;

}


.card-logo {
    position: relative;
}

.play {
    position: absolute;
    display: none;
    top: 20%;
    width: 40px;
    z-index: 100;
}

.card {
    position: relative
}

.card:hover .play {
    display: block
}

.card-logo img:hover {
    border: 3px solid #F948B2;
    border-radius: 15px;
}

.play {
    position: absolute;
    display: none;
    top: 25%;
    margin: 0 auto;
    left: 0px;
    right: 30px;
    text-align: center;

}

.play .fa-circle-play {
    font-size: 60px;
    color: white;
}

.play h5 {
    color: violet;
    font-size: 1.5rem;
    margin: 0px auto;
}

/* Play Instantly, section styles */


.instant-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 10%;
  
}

.instant-photo {

    width: 46%;
   
}

.instant-photo img {
    width: 70%;

}

.instant-photo .instant-logo {
    position: relative;
    width: 30%;
    bottom: 23%;
    right: 15%;
}

.instant-info {
    margin-top: 35px;
    width: 40%;
    text-align: right;
   
}

/* play games section styles */


.games-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 75%;
    margin: 0px auto;
}

.games-photo {

    width: 62%;
}

.games-photo img {
    width: 70%;

}

.games-photo .games-logo {
    position: relative;
    width: 35%;
    bottom: 23%;
    left: 50%;
}

.games-info {
    margin-top: 35px;
   
    text-align: left;
   
}



/* button icon section styles */
.icon-section {
    width: 80%;
    padding-bottom: 5%;
}

.icon-container {
    display: grid;
    gap: 1%;
    width: 80%;
    margin: 0px auto;
    grid-template-columns: repeat(5, 1fr);
}

.icon {
    width: 200px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 5%;
    /* padding: 3%; */

}

.icon-container :nth-child(n+6) {
    margin-left: 50%;
}

.icon:hover {
    background: #FFF;
    border: 1px solid palevioletred;
    border-radius: 40px;
    color: palevioletred;
}

.icon img {
    width: 17%;
    /* padding-left: 15%; */
}

/* footer section styles */

footer {

    margin-top: 0px;
    background-color: #0B0223;
    color: #FFF;
}

.footer-container {
    width: 70%;
    padding: 65px;
    margin: 0px auto;
    text-align: center;
}

.footer-title {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.footer-info {
    display: grid;
    grid-template-areas: "p p p p p p";
    font-size: 0.7rem;
    width: 70%;
    margin: 10px auto;
}

.social-links {
    margin: 23px;
}

.social-links .fa-brands {
    font-size: 1.8rem;

    margin: 10px;
    color: #FFF;
}

.social-links .fa-facebook {
    color: rgb(60, 60, 173);
}

.social-links .fa-youtube {
    color: rgb(233, 23, 23);
}

.footer-title img {
    width: 8%;
}

.footer-terms {
    display: grid;
    width: 70%;
    margin: 0px auto;
    grid-template-areas: "p p p p p";
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.60);
}

.text-small {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.60);
}

/* media query for tablet ------------- */



@media screen and (max-width:768px) {

    .nav-container {
        flex-direction: column;
        box-shadow: none;
    }

    .menus,
    .navbar {
        margin: 0 auto;
    }

    .navbar img {
        width: 60px;

    }

    /* navbar responsive styles end */

    .banner {
        background-image: none;
    }

    .banner-container {

        flex-direction: column;

    }

    .banner-info {
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: 500px 500px;
        padding: 15%;
        zoom: 80%;
    }

    .banner-photo img {
        width: 100%;
        margin: 5px;
    }

    /* banner section responsive styles end */

    .instant-container {
        flex-direction: column;
    }

    .instant-photo {
        width: 90%;
        margin-left: 17%;
    }

    .instant-photo img {
        width: 70%;

    }

    .instant-logo img {
        width: 30%;
        bottom: 150px;
        right: 10%;
    }

    .instant-info {
        margin-top: 0px;
        padding-top: 0px;
        text-align: center;
    }

    /* Play Instantly, section responsive styles end */

    .icon-container {

        grid-template-columns: repeat(3, 3fr);

    }


    .icon {
        width: 100%;

        font-size: 0.6rem;

    }

    .icon-container :nth-child(n+6) {
        margin-left: 0%;
    }

    .icon-section {
        width: 100%;
    }

    .footer-info {

        width: 100%;
        grid-template-areas:
            "p p p"
            "p p p";
    }

    .footer-terms {

        grid-template-areas:
            "p p"
            "p p";
    }
}

/* media query for mobile phone ------------- */
@media screen and (max-width:425px) {

    .nav-container,
    .menus {
        flex-direction: column;

    }

    .menus li {
        margin-bottom: 20px;
    }

    .navbar img {
        width: 60px;

    }

    /* navbar responsive styles end */
    .banner {
        background-position: none;
    }

    .banner-container {

        flex-direction: column;

    }

    .banner-photo img {
        width: 100%;
        margin: 5px;
    }

    .banner-info {
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: 460px 440px;
        padding: 20%;
        zoom: 70%;

    }

    /* banner section responsive styles end */
    .online-card {
        flex-direction: column;
        align-items: center;

    }

    .online-container {
        zoom: 70%;

    }

    /* online section styles end */

    .instant-container {
        flex-direction: column;
    }

    .instant-photo {
        width: 90%;
        margin-left: 70px;
    }

    .instant-photo img {
        width: 70%;

    }

    .instant-logo img {
        width: 30%;
        bottom: 100px;
        right: 10%;
    }

    .instant-info {
        margin-top: 0px;
        padding-top: 0px;
        text-align: center;
    }

    /* --------------------------- */
    .icon-container {

        grid-template-columns: repeat(3, 3fr);

    }


    .icon {
        width: 100%;

        font-size: 0.6rem;

    }

    .icon-container :nth-child(n+6) {
        margin-left: 0%;
    }

    .icon-section {
        width: 100%;
    }

    /* .icon:hover {
        background: #FFF;
        border: 1px solid palevioletred;
        border-radius: 40px;
        color: palevioletred;
    } */
    /* footer section responsive styles */
    .footer-title img {
        width: 20%;
    }

    .footer-container {
        width: 100%;
    }

    .footer-info {

        width: 100%;
        grid-template-areas:
            "p p p"
            "p p p";
    }

    .social-links {
        width: 75%;
    }

    .footer-terms {

        grid-template-areas:
            "p p"
            "p p";
    }

}